<% layout('./layouts/boilerplates')  %>
    <!-- <h1>Edit Campground</h1>
    <form action="/campgrounds/<%=campground._id %>?_method=PUT" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name = 'campground[title]' id="title" value="<%= campground.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name = 'campground[location]' id="location" value="<%= campground.location %>">
        </div>
        <button>Update Campground</button>
    </form>
    <a href="/campgrounds/<% campground._id %>">Back to Campground</a> -->


    <h1 class="text-center">Edit Campground</h1>
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id %>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title" >Title</label>
                    <input class="form-control" type="text" name='campground[title]' id="title" value=<%= campground.title %> required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name='campground[location]' id="location" value=<%= campground.location %>required>
                </div>
               

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name='campground[description]'
                        id="description" required >campground.description</textarea>
                </div>
                <!-- //////////// the input price  /////////////// -->
                <label class="form-label" for="price"> Campground Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" name="campground[price]" value=<%= campground.price %> aria-label="Amount (to the nearest dollar) " placeholder="0.0" id="price" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="price">.00</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                  </div>
                  
                <!-- /////////////////////////////////////// -->
                  <div class="mb-3">
                    <% campground.images.forEach((img,i)=>{ %>
                        <img src="<%= img.thumbnail  %>" class="img-thumbnail" alt="">
                        <div class="form-check inline">
                            <input class="form-check-input" type="checkbox" name="deleteImages[]" id="image-<%=i%>"  value = '<%= img.filename  %>'>
                            <label class="form-check-label" for="image-<%=i%>">
                                Delete
                              </label>
                          </div>
                          

                    <% }) %>
                  </div>


                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>



            </form>
            <div class="mb-3">
                <a href="/campgrounds/<%= campground._id  %>">Back to Campground</a>
            </div>

        </div>
    </div>